* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
  grid-template-rows: 100px 2fr 50px;
}
.app__header {
  background: white;
  /* height: 100px; */
}
.app__main {
  overflow: auto;
}
.app__footer {
  color: white;
  background: #434343;
  /* height: 50px; */
}

.create-entity-field {
  height: 200px;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.create-entity-field__editor {}
.create-entity-field__editor-textarea {
  color: white;
  background: #434343;
  padding: 8px;
}